/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
keymap {
compatible = "zmk,keymap";

default_layer {
// -----------------------------------------------------------------------------------------
// | TAB  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  | DEL |
// | ENTER|  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  | BKSP|
// | CTRL |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  /  | ESC |
//                    | RALT| LWR | SHFT|   | SPC | RSE  | GUI |

bindings = <
   &kp TAB    &kp Q &kp W &kp F &kp P &kp B   &kp J &kp L &kp U     &kp Y   &kp SQT  &kp DEL
   &kp RETURN &kp A &kp R &kp S &kp T &kp G   &kp M &kp N &kp E     &kp I   &kp O    &kp BACKSPACE
   &kp LCTRL   &kp Z &kp X &kp C &kp D &kp V   &kp K &kp H &kp COMMA &kp DOT &kp FSLH &kp ESC
                  &kp RALT &mo 1 &kp LSHFT   &kp SPACE &mo 2 &kp LGUI
>;
};

lower_layer {
// -----------------------------------------------------------------------------------------
// |      |     |  ^  |  &  |  *  |     |   |     |  `  |  ~  |  +  |  =  |      |
// |      |  !  |  @  |  #  |  $  |  %  |   |  -  |  (  |  )  |  {  |  }  |      |
// |      |     |     |     |     |     |   |  _  |  [  |  ]  | "|" |  \  |      |
//                    |     | HOLD|     |   |     |     |     |
bindings = <
   &trans &none    &kp CARET &kp AMPS &kp KP_MULTIPLY &none         &none     &kp GRAVE &kp TILDE &kp PLUS &kp EQUAL &trans
   &trans &kp EXCL &kp AT    &kp HASH &kp DLLR        &kp PRCNT     &kp MINUS &kp LPAR  &kp RPAR  &kp LBRC &kp RBRC  &trans
   &trans &none    &none     &none   &none            &none         &kp UNDER &kp LBKT  &kp RBKT  &kp PIPE &kp BSLH  &none
                             &none   &none            &none         &trans     &none     &none
>;
};
                
raise_layer {
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | PREV| NEXT| P/P | V_UP| V_DWN| B_UP |
// |      |  0  |  1  |  2  |  3  |  4  |   | HOME| LFT | DWN |  UP | RGT  | B_DWN|
// |      |  5  |  6  |  7  |  8  |  9  |   | END |     |     |     |      | C_PWR|
//                    |     |     |     |   |     | HOLD|     |
bindings = <
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp C_PREVIOUS &kp C_NEXT &kp C_PP &kp C_VOL_UP &kp C_VOL_DN &kp C_BRI_UP
   &trans     &kp N0       &kp N1       &kp N2       &kp N3       &kp N4         &kp HOME       &kp LEFT   &kp DOWN &kp UP       &kp RIGHT    &kp C_BRI_DN
   &trans     &kp N5       &kp N6       &kp N7       &kp N8       &kp N9         &kp END        &none      &none    &none        &none        &kp C_PWR
                                        &trans       &none        &trans         &none          &none      &none
>;
};

        };
};
