/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define GAMING  3
#define QWERTY  4

/ {
   combos {
      compatible = "zmk,combos";
      combo_qwerty {
         timeout-ms = <50>;
         layers = <0 3>;
         key-positions = <36 41>;
         bindings = <&tog 4>;
      };
   };
};

/ {

keymap {
compatible = "zmk,keymap";

default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  F  |  P  |  B  |   |  J  |  L   |  U  |  Y  |  '  | DEL |
// | ENTER|  A  |  R  |  S  |  T  |  G  |   |  M  |  N   |  E  |  I  |  O  | BKSP|
// | CTRL |  Z  |  X  |  C  |  D  |  V  |   |  K  |  H   |  ,  |  .  |  ;  | TAB |
//                    | ALT | LWR | SHFT|   | SPC | RSE  | GUI |
bindings = <
   &kp ESC    &kp Q &kp W &kp F &kp P &kp B    &kp J &kp L &kp U     &kp Y   &kp SQT  &kp DEL
   &kp RETURN &kp A &kp R &kp S &kp T &kp G    &kp M &kp N &kp E     &kp I   &kp O    &kp BACKSPACE
   &kp LCTRL  &kp Z &kp X &kp C &kp D &kp V    &kp K &kp H &kp COMMA &kp DOT &kp SEMI &kp TAB
                  &kp RALT  &mo 1 &kp LSHFT    &kp SPACE &mo 2 &kp LGUI
>;
};

lower_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |     |  ^  |  &  |  *  |     |   |     |  <  |  >  |  =  |  +  | DEL |
// | ENTER|  !  |  @  |  #  |  $  |  %  |   |  -  |  (  |  )  |  [  |  ]  | BKSP|
// | CTRL |     |  ~  |  `  |  ?  | "|" |   |  _  |  {  |  }  |  /  |  \  | TAB |
//                    |     | HOLD|     |   | SPC |     |GAME |
bindings = <
   &kp ESC    &none    &kp CARET &kp AMPS  &kp KP_MULTIPLY &none        &none     &kp LT    &kp GT    &kp EQUAL &kp PLUS  &kp DEL
   &kp RETURN &kp EXCL &kp AT    &kp HASH  &kp DLLR        &kp PRCNT    &kp MINUS &kp LPAR  &kp RPAR  &kp LBKT  &kp RBKT  &kp BACKSPACE
   &kp LCTRL  &none    &kp TILDE &kp GRAVE &kp QMARK       &kp PIPE     &kp UNDER &kp LBRC  &kp RBRC  &kp FSLH  &kp BSLH  &kp TAB
                                 &none     &none           &none        &kp SPACE &none     &tog 3
>;
};

raise_layer {
// -----------------------------------------------------------------------------------------
// |BT_CLR| BLE |  7  |  8  |  9  | BT1 |   | PREV| NEXT|  UP | P/P | V_UP | DEL |
// |      |     |  4  |  5  |  6  | BT2 |   | HOME| LFT | DOWN| RGT | V_DN | BKSP|
// | CTRL |  0  |  1  |  2  |  3  | BT3 |   | END |     | CAPS| B_UP| B_DN | TAB |
//                    | ALT |     | SHFT|   |     | HOLD|     |
bindings = <
   &bt BT_CLR &out OUT_BLE &kp N7 &kp N8 &kp N9 &bt BT_SEL 0       &kp C_PREVIOUS &kp C_NEXT &kp UP    &kp C_PP     &kp C_VOL_UP  &kp DEL
   &none      &none        &kp N4 &kp N5 &kp N6 &bt BT_SEL 1       &kp HOME       &kp LEFT   &kp DOWN  &kp RIGHT    &kp C_VOL_DN  &kp BACKSPACE
   &kp LCTRL  &kp N0       &kp N1 &kp N2 &kp N3 &bt BT_SEL 2       &kp END        &none      &kp CAPS  &kp C_BRI_UP &kp C_BRI_DN  &kp TAB
                                    &kp RALT &none &kp LSHFT       &none          &none      &none
>;
};

gaming_layer {
// -----------------------------------------------------------------------------------------
// |  X  | ESC  |  5  |  W  |  6  |  7  |   |     |     |     |     |     |     |
// |  Y  | SHFT |  A  |  S  |  D  |  8  |   |     |     |     |     |     |     |
// |  Z  | CTRL |  4  |  3  |  2  |  9  |   |     |     |     |     |     |     |
//                    | TAB |  1  |SPACE|   | GUI |     |BASE |
bindings = <
   &kp X  &kp ESC    &kp 5  &kp W  &kp 6  &kp 7    &none    &none &none &none &none &none
   &kp Y  &kp LSHFT  &kp A  &kp S  &kp D  &kp 8    &none    &none &none &none &none &none
   &kp Z  &kp LCTRL  &kp N4 &kp N3 &kp N2 &kp 9    &none    &none &none &none &none &none
                     &kp TAB  &kp N1  &kp SPACE    &kp LGUI &none &tog 3
>;
};

qwerty_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | DEL |
// | ENTER|  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;: | BKSP|
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,< |  .> |  /? | TAB |
//                    | ALT | LWR | SHFT|   | SPC | RSE | GUI |
bindings = <
   &kp ESC    &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I     &kp O   &kp P     &kp DEL
   &kp RETURN &kp A &kp S &kp D &kp F &kp G    &kp H &kp J &kp K     &kp L   &kp SEMI  &kp BACKSPACE
   &kp LCTRL  &kp Z &kp X &kp C &kp V &kp B    &kp N &kp M &kp COMMA &kp DOT &kp FSLH  &kp TAB
                  &kp RALT  &mo 1 &kp LSHFT    &kp SPACE &mo 2 &kp LGUI
>;
};

};
};
